.memfilter__proyek {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.item__proyek {
    cursor: pointer;
    color: var(--warna-judul);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.item__proyek:hover {
    background-color: var(--warna-judul);
    color: var(--warna-container);
}

.wadah__pekerjaan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Menyesuaikan jumlah kolom */
    gap: 1.5rem; /* Mengurangi jarak antar elemen */
    justify-content: center;
}

.kartu__pekerjaan {
    background-color: var(--warna-wadah);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
}

.gambar__pekerjaan {
    width: 100%; /* Mengatur lebar gambar agar responsif */
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.nama__pekerjaan {
    font-size: var(--ukuran-font-normal);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.tombol__pekerjaan {
    color: var(--warna-teks);
    font-size: var(--ukuran-font-kecil);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.ikon__tombol-pekerjaan {
    font-size: 1rem;
    transition: 0.4s;
}

.tombol__pekerjaan:hover .ikon__tombol-pekerjaan {
    transform: translateX(0.25rem);
}

.aktif-proyek {
    background-color: var(--warna-judul);
    color: var(--warna-container);
}

@media screen and (max-width: 992px) {
    .wadah__pekerjaan {
        gap: 1rem;
    }

    .kartu__pekerjaan {
        padding: 1rem;
    }

    .gambar__pekerjaan {
        margin-bottom: 0.75rem;
    }

    .nama__pekerjaan {
        margin-bottom: 0.25rem;
    }
}

@media screen and (max-width: 768px) {
    .wadah__pekerjaan {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Mengatur ulang jumlah kolom */
    }

    .memfilter__proyek {
        column-gap: 0.5rem; /* Mengurangi jarak antar kategori */
    }
}

@media screen and (max-width: 576px) {
    .memfilter__proyek {
        column-gap: 0.25rem;
    }
}

@media screen and (max-width: 480px) {
    .wadah__pekerjaan {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Mengatur ulang jumlah kolom */
    }
}

@media screen and (max-width: 350px) {
    .item__proyek {
        font-size: var(--ukuran-font-kecil);
    }
}
